*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: sans-serif;
    background: #f6f9fa;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}


/*Fun begins*/

.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 130px;
    position: relative;
}

input,
section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label {
    font-weight: 700;
    font-size: 15px;
    display: block;
    float: left;
    /* width: 13%; */
    padding: 1.5em;
    color: #515151;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    /*background: #f0f0f0;*/
}

#tab1:checked~#content1,
#tab2:checked~#content2 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content img {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3,
.tab_container .tab-content p {
    text-align: center;
}

.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked+label .fa {
    color: #0CE;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}


/*Media query*/

@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }
    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }
    label .fa {
        font-size: 16px;
    }
    .tab_container {
        width: 98%;
    }
}


/*Content Animation*/

@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.post {
    background: black;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-caption {
    opacity: 0;
    transition: opacity 0.5s
}

.post:hover>.carousel-caption {
    opacity: 1;
}

.post:hover>.card-img-top {
    opacity: 0.5;
    transition: opacity 0.5s
}

.postModal>.modal-dialog>.modal-content>.modal-footer>.container>.text {
    color: #9c9c9c;
}

.items {
    display: inline-block;
    width: 19%;
}

.writeDate {
    color: #333333;
}

.badge-info {
    background-color: #8e8e8e;
}

.rows {
    /* column width */
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    /* space between columns */
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.items {
    display: inline-block;
    width: 100%;
}

.card-columns {
    column-count: 3;
}