
<div class="tab_container">

			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><i class="fa fa-tag"></i><span>My Review</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><i class="fa fa-heart"></i><span>Liked</span></label>

			<section id="content1" class="tab-content">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">

			</section>

			<section id="content2" class="tab-content">
        <br>
				<h3>No image.</h3>
		      	<p>add your favorite.</p>
        <br>
        <br><br><br>

			</section>


		</div>
