@import url('https://fonts.googleapis.com/css?family=Righteous');

button > span, a.username, .dropdown-menu > a, .dropdown-menu li>a {
    font-family: 'Righteous', sans-serif;
}
.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.mainBtn {
    background-color: rgba( 255, 255, 255, 0.0);
    border: 0;
    color: #333333;
}

.mainBtn:hover {
    background-color: rgba( 255, 255, 255, 0.0);
    color: #333333;
}

.userPhoto {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
}

.main-nav {
    width: 100%;
}
.navbar-brand {
    font-family: 'Righteous', sans-serif;
    /* font-size: 28px; */
}