<!--
<nav class="navbar navbar-light navbar-wrapper">
    <div class="container">
        <div class="col-md-1">
            <a class="navbar-bra  nd" (click)="gotoHome()">
                <img src="https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Globe.png" width="30" height="30" alt="company_icon">
            </a>
        </div>
        <div class="col-md-8">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group input-append">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
            <button type="submit"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" width="30" height="30" alt="search_icon"></button>
          </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success my-2 mr-2 my-sm-0" type="button" (click)="gotoUpload()"><img src="http://downloadicons.net/sites/default/files/plus-sign-icon-27952.png" width="30" height="30" alt="write_icon"></button>
            <button class="btn btn-outline-success" type="button" (click)="gotoProfile()">Profile</button>
            <button (click)="logout()">logout</button>
        </div>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class=" navbar-brand" href="#" (click)="gotoHome()">
      ReviewAny
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form col-md-12">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group input-append">
                    <div class="input-group-btn bs-dropdown-to-select-group">
                        <button type="button" class="btn btn-light dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown">
                            <span data-bind="bs-drp-sel-label">{{searchType}}</span>
                            <input type="hidden" name="selected_value" data-bind="bs-drp-sel-value" value="">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>

                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a class="dropdown-item" (click)="selectList('Title')">Title</a></li>
                            <li data-value="2"><a class="dropdown-item" (click)="selectList('Tag')">Tag</a></li>
                            <li data-value="3"><a class="dropdown-item" (click)="selectList('Content')">Content</a></li>
                            <li>
                                <div role="separator" class="dropdown-divider"></div>
                            </li>
                            <li data-value="4"><a class="dropdown-item" (click)="selectList('Image')">Image</a></li>
                        </ul>
                    </div>

                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                      <button type="submit"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" width="30" height="30" alt="search_icon"></button>
                  </span>
                </div>
            </div>
        </form>
    </div>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="gotoProfile()">MyPage</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" (click)="gotoProfile()">
                <img class="userPhoto" [src]="profileImg" width="30" height="30" alt="user_image" >
            </a>
        </li>

        <li class="nav-item active">
            <button class="btn mainBtn btn-light" type="button" (click)="gotoUpload()"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/395111-200.png" width="30" height="31" alt="write_icon"></button>
        </li>
    </ul>
</nav>