<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-1.5">
        <a class=" navbar-brand" style="cursor:pointer" (click)="gotoHome()">ReviewAny</a>
    </div>

    <div class="col-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="col">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form col-12" (ngSubmit)="searchHandler()">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group input-append">
                        <div class="input-group-btn bs-dropdown-to-select-group">
                            <button type="button" class="btn btn-light dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown">
                            <span data-bind="bs-drp-sel-label">{{searchType}}</span>
                            <input type="hidden" name="selected_value" data-bind="bs-drp-sel-value" value="">
                            <!-- <span class="caret"></span> -->
                            <span class="sr-only">Toggle Dropdown</span>

                        </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-value="1"><a class="dropdown-item" style="cursor:pointer" (click)="selectList('Title')">Title</a></li>
                                <li data-value="2"><a class="dropdown-item" style="cursor:pointer" (click)="selectList('Tag')">Tag</a></li>
                                <li data-value="3"><a class="dropdown-item" style="cursor:pointer" (click)="selectList('Content')">Content</a></li>
                             
                            </ul>
                        </div>

                        <input type="text" name="search" class="form-control" placeholder="Search" [(ngModel)]="searchTxt">
                        <span class="input-group-addon">
                      <button type="submit"><img src="../../../assets/imgs/search.png" width="30" height="30" alt="search_icon"></button>
                  </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-0.5">
        <a class="username" style="cursor:default">{{username}}</a>
    </div>

    <div class="nav-item col-0.9">
        <a class="nav-link" (click)="gotoProfile()">
            <img class="userPhoto" style="cursor:pointer" [src]="profileImg" width="30" height="30" alt="user_image">
        </a>
    </div>

    <div class="nav-item active col-0.5">
        <button class="btn mainBtn btn-light" type="button" style="cursor:pointer" (click)="gotoUpload()"><img src="../../../assets/imgs/upload_icon.png" width="30" height="31" alt="write_icon"></button>
    </div>

    <div class="nav-item col-0.5">
        <button class="btn mainBtn btn-light" type="button" style="cursor:pointer" (click)="logout()"><img src="../../../assets/imgs/logout_icon.png" width="38" height="38.5" alt="logout_icon"></button>
    </div>

</nav>
