<!-- Posts -->
<div class="container mt-3">
    <div class="rows">

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://signoftherose.files.wordpress.com/2016/08/sea-05.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://timedotcom.files.wordpress.com/2017/09/iphone-x.jpg?quality=85" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="http://cfile22.uf.tistory.com/image/246D8A385603F235273E26" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="http://t1.daumcdn.net/liveboard/slidee/448dd4e09cea48a2b48cb3d24345fb06.jpeg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://pbs.twimg.com/profile_images/800622153565540352/hki9xSrp.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://pbs.twimg.com/media/CEo2DDJUEAIMRL7.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://signoftherose.files.wordpress.com/2016/08/sea-05.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://timedotcom.files.wordpress.com/2017/09/iphone-x.jpg?quality=85" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="http://cfile22.uf.tistory.com/image/246D8A385603F235273E26" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="http://t1.daumcdn.net/liveboard/slidee/448dd4e09cea48a2b48cb3d24345fb06.jpeg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://pbs.twimg.com/profile_images/800622153565540352/hki9xSrp.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

        <div class="items well">
            <div class="card post mt-2" data-toggle="modal" data-target="#readingModal">
                <img class="card-img-top img-responsive" src="https://pbs.twimg.com/media/CEo2DDJUEAIMRL7.jpg" alt="post_image">
                <h3 class="carousel-caption">Post Title</h3>
            </div>
        </div>

    </div>
</div>




<!-- Modal -->
<div class="modal postModal fade bd-example-modal-lg" id="readingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <h4 class="modal-title postTitle" id="exampleModalLabel"><strong>Post title</strong></h4>
                        </div>
                        <div class="col-auto ml-auto">
                            <p class="writeDate text">2017.11.11</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <img class="card-img-top" src="https://signoftherose.files.wordpress.com/2016/08/sea-05.jpg" alt="post_image_modal">
                <div class="container">
                    <h6 class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</h6>
                    <p class="text mt-3">very nice! very nice! very nice!</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <img class="userPhoto" src="https://pbs.twimg.com/profile_images/800622153565540352/hki9xSrp.jpg" width="30" alt="user_image">
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <p class="userId text">
                                    userID
                                </p>
                            </div>
                            <div class="row">
                                <p class="writeDate text">2017.11.11</p>
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-business-2/512/thumbs-up-icon.png" width="30" height="30" alt="like_icon">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>