
.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.post {
    background: black;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-caption {
    opacity: 0;
    transition: opacity 0.5s
}

.post:hover>.carousel-caption {
    opacity: 1;
}

.post:hover>.card-img-top {
    opacity: 0.5;
    transition: opacity 0.5s
}

.postModal>.modal-dialog>.modal-content>.modal-footer>.container>.text {
    color: #9c9c9c;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.rows {
    /* column width */
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    /* space between columns */
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.items {
    display: inline-block;
    width: 100%;
}

.userPhoto {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
}

.writeDate {
    color: #333333;
}

.badge-info {
    background-color: #8e8e8e;
}

.card-columns {
    column-count: 4;
}

