@import url('https://fonts.googleapis.com/css?family=Righteous');

nav {
    font-family: 'Righteous', sans-serif;
}
.bg-light {
    background-color: #fff !important;
}
ol.breadcrumb {
    margin: 0;
}