<div class="login-background login_cont">
  <div class="row justify-content-center">
    <div class="col-fluidr">
      <div class="card pt-4 pb-4" id="login_card">
          <div class="card-body">
              <h3 class="card-title">Welcome</h3>
              <hr/>
              <form name="form" (ngSubmit)="onLogin()">
                  <div class="form-group m-1">
                    <input type="email" name="email" class="form-control email_input" [(ngModel)]="user.username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group m-1">
                    <input type="password" name="email" class="form-control pw_input" id="exampleInputPassword1" [(ngModel)]="user.password" placeholder="Password" required>
                  </div>
									<button type="button m-1" class="btn btn_login btn-primary btn-lg btn-block">Login</button>
              </form>
              <hr/>

            </div>

      </div>
      <div class="card" id="register_card">
        <div class="card-body">
            <p class="card-text">New to ReviewAny? create an account.</p>
            <button type="button m-1" class="btn btn_register btn-danger btn-lg btn-block" (click)="directToRegister()">Register</button>
        </div>
      </div>
    </div>

  </div>
</div>
