<app-navbar></app-navbar>

<div class="profile jumbotron  jumbotron-fluid">
    <div class="contents">
      <img src="assets/imgs/profile_test.jpg" alt="avatar" class="rounded avatar">
    </div>
    <div class="pro">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-user-circle-o fa-1" aria-hidden="true"></i> Name</li>
        <li class="list-group-item"><i class="fa fa-home fa-1" aria-hidden="true"></i> Site address </li>
        <li class="list-group-item"><i class="fa fa-phone fa-1"></i> Phone Number </li>
        <li class="list-group-item"><i class="fa fa-envelope fa-1"></i> E-mail Address</li>
      </ul>
    </div>
    <a class="edit" href="edit..."><i class="fa fa-cog fa-4" aria-hidden="true"></i></a>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="#my" role="tab" data-toggle="tab">MyReview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#like" role="tab" data-toggle="tab">Liked</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="my">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
      <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
    </div>
    <div role="tabpanel" class="tab-pane fade" id="like">
        <img class="rounded img" src="assets/imgs/profile_test.jpg" alt="">
    </div>
  </div>
