<div class="container">

    <div class="row pro_row">
        <div class="col-md-4">

            <img [src]="user.profileImg" alt="avatar" class="img-fluid" style="max-width:100%;height:auto;">

        </div>
        <div class="col-md-3">
            <div>
                <ul class="list-unstyled" *ngFor="let one of LIST">
                    <li><i class="fa fa-user-circle-o fa-1"></i> &nbsp;{{user.username}}</li>
                    <li><i class="fa fa-home fa-1"></i> &nbsp;{{one.site}} </li>
                    <li><i class="fa fa-phone fa-1"></i> &nbsp;{{one.phone}} </li>
                    <li><i class="fa fa-envelope fa-1"></i> &nbsp;{{one.email}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="ed" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-cog fa-4" style="cursor:pointer"></i>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="head">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <hr>
                        <div class="modal-body">
                            <form (ngSubmit)="submitChange()">      
                                <div class="form-group img_select">
                                    <label for="exampleFormControlFile1"><img [src]="user.profileImg" alt="avatar" class="rounded avatar modal_img"></label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>   
                                <div class="form-group">
                                    <input class="form-control pro-control" type="text" placeholder="Default input" name="Username" [(ngModel)]="user.username" required>
                                    <input class="form-control pro-control" type="text" placeholder="Default input" value="lou297@hanyang.ac.kr" required>
                                    <input class="form-control pro-control" type="text" placeholder="Default input" value="010-5029-1617" required>
                                    <input class="form-control pro-control" type="text" placeholder="Default input" value="xorolx297@naver.com" required>
                                </div>
                                      
                                <div class="but">
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <app-tab></app-tab>


</div>