.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.upload-btn {
  background-color: rgb(75, 201, 201);
  border: 0;
  color: #333333;
}

.upload-btn:hover {
  background-color: rgba(75, 201, 201, 0.59);
  color: #333333;
}

.col-6{
  align-content: center;
  background-color: rgba(249, 249, 249, 0.952);
}
.upload{
  border-style:solid;
  border-color:#ddd;
  border-radius:1em;
  width:55em;
  background-color: rgba(249, 249, 249, 0.952);
  margin-top:3em;
}
